<div class="tay-audio-player">
  <audio controls>
    <source src="https://tts.mediacdn.vn/2025/04/28/cafef-nu-188250427235246479.m4a" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

{% schema %}
{
  "name": "Audio Player",
  "target": "section",
  "settings": []
}
{% endschema %}